In [43]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [44]:

jobs_csv_path = os.path.join(
    "..", "data", "business-establishments-and-jobs-data-by-business-size-and-industry.csv")

jobs_data = pd.read_csv(jobs_csv_path)
jobs_data.head()

,Census year,CLUE small area,ANZSIC indusrty,CLUE industry,Business size,Total establishments,Total jobs
0,2007,West Melbourne (Residential),"Transport, Postal and Warehousing","Transport, Postal and Storage",Small business,20,132.0
1,2006,Carlton,Accommodation and Food Services,Accommodation,Small business,17,102.0
2,2006,Carlton,Administrative and Support Services,Admin and Support Services,Non employing,1,NaN
3,2006,Carlton,Arts and Recreation Services,Arts and Recreation Services,Medium business,4,207.0
4,2006,Carlton,Construction,Construction,Medium business,5,196.0

In [45]:
jobs_data.columns

Index(['Census year', 'CLUE small area', 'ANZSIC indusrty', 'CLUE industry',
       'Business size', 'Total establishments', 'Total jobs'],
      dtype='object')

In [46]:
jobs_data = jobs_data.groupby(["Census year",'ANZSIC indusrty','CLUE small area', "Total establishments", "Total jobs"]).size().reset_index(name= "counts")
jobs_data

,Census year,ANZSIC indusrty,CLUE small area,Total establishments,Total jobs,counts
0,2002,Accommodation and Food Services,Carlton,3,0.0,1
1,2002,Accommodation and Food Services,Carlton,4,139.0,1
2,2002,Accommodation and Food Services,Carlton,7,0.0,1
3,2002,Accommodation and Food Services,Carlton,11,327.0,1
4,2002,Accommodation and Food Services,Carlton,16,106.0,1
...,...,...,...,...,...,...
10356,2022,Wholesale Trade,Southbank,3,222.0,1
10357,2022,Wholesale Trade,Southbank,9,69.0,1
10358,2022,Wholesale Trade,West Melbourne (Industrial),6,299.0,1
10359,2022,Wholesale Trade,West Melbourne (Industrial),24,151.0,1
10360,2022,Wholesale Trade,West Melbourne (Residential),13,77.0,1

In [50]:
jobs_data_y = jobs_data
wanted_year = [2022]
wanted_job = ["---"]
jobs_data_idy = jobs_data_y["Census year"].isin(wanted_year)

jobs_data_y = jobs_data_y[jobs_data_idy]


jobs_data_y = jobs_data_y.groupby(["Census year","CLUE small area",'ANZSIC indusrty', "Total jobs"]).size().reset_index(name= "counts")
summarized_y = jobs_data_y.groupby(["CLUE small area",'ANZSIC indusrty'])['Total jobs'].sum().reset_index()
jobs_data_y
summarized_y
jobs_data_y

,Census year,CLUE small area,ANZSIC indusrty,Total jobs,counts
0,2022,Carlton,Accommodation and Food Services,0.0,1
1,2022,Carlton,Accommodation and Food Services,189.0,1
2,2022,Carlton,Accommodation and Food Services,255.0,1
3,2022,Carlton,Accommodation and Food Services,682.0,1
4,2022,Carlton,Accommodation and Food Services,1227.0,1
...,...,...,...,...,...
488,2022,West Melbourne (Residential),"Rental, Hiring and Real Estate Services",31.0,1
489,2022,West Melbourne (Residential),Retail Trade,78.0,1
490,2022,West Melbourne (Residential),Retail Trade,95.0,1
491,2022,West Melbourne (Residential),"Transport, Postal and Warehousing",51.0,1
492,2022,West Melbourne (Residential),Wholesale Trade,77.0,1

In [51]:
summarized_y

,CLUE small area,ANZSIC indusrty,Total jobs
0,Carlton,Accommodation and Food Services,2353.0
1,Carlton,Administrative and Support Services,68.0
2,Carlton,Arts and Recreation Services,327.0
3,Carlton,Construction,52.0
4,Carlton,Education and Training,3531.0
...,...,...,...
202,West Melbourne (Residential),Public Administration and Safety,28.0
203,West Melbourne (Residential),"Rental, Hiring and Real Estate Services",31.0
204,West Melbourne (Residential),Retail Trade,173.0
205,West Melbourne (Residential),"Transport, Postal and Warehousing",51.0
206,West Melbourne (Residential),Wholesale Trade,77.0

In [52]:
jobs_data_y = jobs_data
wanted_year = [2022]
wanted_job = ["---"]
jobs_data_idy = jobs_data_y["Census year"].isin(wanted_year)
jobs_data_y = jobs_data_y[jobs_data_idy]
jobs_data_y

,Census year,ANZSIC indusrty,CLUE small area,Total establishments,Total jobs,counts
9866,2022,Accommodation and Food Services,Carlton,6,255.0,1
9867,2022,Accommodation and Food Services,Carlton,23,682.0,1
9868,2022,Accommodation and Food Services,Carlton,36,189.0,1
9869,2022,Accommodation and Food Services,Carlton,39,0.0,1
9870,2022,Accommodation and Food Services,Carlton,194,1227.0,1
...,...,...,...,...,...,...
10356,2022,Wholesale Trade,Southbank,3,222.0,1
10357,2022,Wholesale Trade,Southbank,9,69.0,1
10358,2022,Wholesale Trade,West Melbourne (Industrial),6,299.0,1
10359,2022,Wholesale Trade,West Melbourne (Industrial),24,151.0,1
10360,2022,Wholesale Trade,West Melbourne (Residential),13,77.0,1

In [53]:
#Now make a nice bokeh plot 

import pandas as pd
from squarify import normalize_sizes, squarify
from bokeh.plotting import figure, show
from bokeh.transform import factor_cmap

#Sum up total jobs
jobs_by_area_industry = jobs_data_y.groupby(["CLUE small area", "ANZSIC indusrty"]).sum("Total jobs")
jobs_by_area_industry = jobs_by_area_industry.reset_index()
print(jobs_by_area_industry.columns)

# Grouping by "industry" and summing "total jobs"
jobs_by_industry = jobs_by_area_industry.groupby("ANZSIC indusrty").sum("Total jobs")
jobs_by_industry = jobs_by_industry.reset_index()

# Function to generate treemap blocks
def treemap(jobs_data_y, col, x, y, dx, dy, *, N=100):
 if dx != 0 and dy != 0:
    sub_df = jobs_data_y.nlargest(N, col)
    normed = normalize_sizes(sub_df[col], dx, dy)
    blocks = squarify(normed, x, y, dx, dy)
    blocks_df = pd.DataFrame.from_dict(blocks).set_index(sub_df.index)
    return sub_df.join(blocks_df, how='left').reset_index()
 else:
    return pd.DataFrame()

x, y, w, h = 0, 0, 800, 450

# Generating blocks for treemap
blocks_by_industry = treemap(jobs_by_industry, "Total jobs", x, y, w, h)

# Generating blocks for each area within the industry
default_x = 1
default_y = 1
default_dx = 1
default_dy = 1
dfs = []
for index, row in blocks_by_industry.iterrows():
    if dx != 0 and dy != 0:
        industry = row["ANZSIC indusrty"]
        total_jobs = row["Total jobs"]
        x = row["x"]
        y = row["y"]
        dx = row["dx"]
        dy = row["dy"]
        if dx == 0:
           dx = default_dx
        if dy == 0:
           dy = default_dy
        if x == 0:
            x = default_x
        if y == 0:
            y = default_y
        sub_df = jobs_by_area_industry[jobs_by_area_industry["ANZSIC indusrty"] == industry]
        print(sub_df)
        sub_df = sub_df[sub_df["Total jobs"] != 0]
        dfs.append(treemap(sub_df, "Total jobs", x, y, dx, dy, N=10))
        blocks = pd.concat(dfs)
    else:
        print("failed")

# Bokeh plot setup
p = figure(width=w, height=h, tooltips="@CLUE small area", toolbar_location=None,
           x_axis_location=None, y_axis_location=None)
p.x_range.range_padding = p.y_range.range_padding = 0
p.grid.grid_line_color = None

# Rendering treemap blocks
p.rect('x', 'y', 'dx', 'dy', source=blocks, line_width=1, line_color="white",
       fill_alpha=0.8, fill_color="blue")

# Adding text for industry names
p.text('x', 'y', x_offset=2, text="ANZSIC indusrty", source=blocks_by_industry,
       text_font_size="18pt", text_color="white")

# Adding text for area names
blocks["ytop"] = blocks.y + blocks.dy
p.text('x', 'ytop', x_offset=2, y_offset=2, text="CLUE small area", source=blocks,
       text_font_size="6pt", text_baseline="top", text_color="black")

# Show the plot
show(p)

Index(['CLUE small area', 'ANZSIC indusrty', 'Census year',
       'Total establishments', 'Total jobs', 'counts'],
      dtype='object')
              CLUE small area ANZSIC indusrty  Census year  \
19  City of Melbourne (total)      All ANZSIC         8088

    Total establishments  Total jobs  counts
19                 13828    480576.0       4
                  CLUE small area  \
11                        Carlton
30      City of Melbourne (total)
47                      Docklands
63                 East Melbourne
78                     Kensington
95                Melbourne (CBD)
110         Melbourne (Remainder)
125               North Melbourne
138                     Parkville
151                Port Melbourne
174                     Southbank
201  West Melbourne (Residential)

                                     ANZSIC indusrty  Census year  \
11   Professional, Scientific and Technical Services         4044
30   Professional, Scientific and Technical Services         8088
47   Professional, Scientific and Technical Services         6066
63   Professional, Scientific and Technical Services         4044
78   Professional, Scientific and Technical Services         4044
95   Professional, Scientific and Technical Services         8088
110  Professional, Scientific and Technical Services         6066
125  Professional, Scientific and Technical Services         4044
138  Professional, Scientific and Technical Services         4044
151  Professional, Scientific and Technical Services         4044
174  Professional, Scientific and Technical Services         6066
201  Professional, Scientific and Technical Services         4044

     Total establishments  Total jobs  counts
11                     95      1160.0       2
30                   2156     84465.0       4
47                    154     12261.0       3
63                     40       805.0       2
78                     31       584.0       2
95                   1439     52132.0       4
110                    23      3837.0       3
125                   117      1313.0       2
138                    14       481.0       2
151                    61       908.0       2
174                    95      7558.0       3
201                    73      1002.0       2
                  CLUE small area                   ANZSIC indusrty  \
6                         Carlton  Financial and Insurance Services
24      City of Melbourne (total)  Financial and Insurance Services
42                      Docklands  Financial and Insurance Services
59                 East Melbourne  Financial and Insurance Services
89                Melbourne (CBD)  Financial and Insurance Services
106         Melbourne (Remainder)  Financial and Insurance Services
120               North Melbourne  Financial and Insurance Services
135                     Parkville  Financial and Insurance Services
146                Port Melbourne  Financial and Insurance Services
169                     Southbank  Financial and Insurance Services
196  West Melbourne (Residential)  Financial and Insurance Services

     Census year  Total establishments  Total jobs  counts
6           2022                    15       113.0       1
24          8088                   747     67231.0       4
42          6066                    45     25785.0       3
59          4044                    13       493.0       2
89          8088                   592     38132.0       4
106         4044                    19       378.0       2
120         2022                     9        48.0       1
135         2022                     5        38.0       1
146         2022                     4        23.0       1
169         4044                    29       966.0       2
196         2022                     4        32.0       1
                  CLUE small area                   ANZSIC indusrty  \
12                        Carlton  Public Administration and Safety
31      City of Melbourne (total)  Public Administration and Safety
48                      Docklands  Public Administration and Safety
64                 East Melbourne  Public Administration and Safety
96                Melbourne (CBD)  Public Administration and Safety
126               North Melbourne  Public Administration and Safety
152                Port Melbourne  Public Administration and Safety
175                     Southbank  Public Administration and Safety
202  West Melbourne (Residential)  Public Administration and Safety

     Census year  Total establishments  Total jobs  counts
12          2022                     4        35.0       1
31          8088                   285     53940.0       4
48          6066                    22      9706.0       3
64          6066                    21      5110.0       3
96          8088                   178     32402.0       4
126         4044                     7       305.0       2
152         4044                    14       306.0       2
175         2022                     6       383.0       1
202         2022                     3        28.0       1
                  CLUE small area                    ANZSIC indusrty  \
7                         Carlton  Health Care and Social Assistance
25      City of Melbourne (total)  Health Care and Social Assistance
43                      Docklands  Health Care and Social Assistance
60                 East Melbourne  Health Care and Social Assistance
74                     Kensington  Health Care and Social Assistance
90                Melbourne (CBD)  Health Care and Social Assistance
107         Melbourne (Remainder)  Health Care and Social Assistance
121               North Melbourne  Health Care and Social Assistance
136                     Parkville  Health Care and Social Assistance
147                Port Melbourne  Health Care and Social Assistance
170                     Southbank  Health Care and Social Assistance
197  West Melbourne (Residential)  Health Care and Social Assistance

     Census year  Total establishments  Total jobs  counts
7           6066                    87      2522.0       3
25          8088                   991     46362.0       4
43          4044                    36       389.0       2
60          6066                   210      5260.0       3
74          4044                    25       471.0       2
90          6066                   350      4363.0       3
107         4044                    53       748.0       2
121         6066                    83      1058.0       3
136         6066                    82     23679.0       3
147         2022                     3        25.0       1
170         4044                    28       631.0       2
197         4044                    20       199.0       2
                  CLUE small area                  ANZSIC indusrty  \
0                         Carlton  Accommodation and Food Services
16      City of Melbourne (total)  Accommodation and Food Services
36                      Docklands  Accommodation and Food Services
53                 East Melbourne  Accommodation and Food Services
68                     Kensington  Accommodation and Food Services
83                Melbourne (CBD)  Accommodation and Food Services
101         Melbourne (Remainder)  Accommodation and Food Services
114               North Melbourne  Accommodation and Food Services
131                     Parkville  Accommodation and Food Services
140                Port Melbourne  Accommodation and Food Services
157                   South Yarra  Accommodation and Food Services
163                     Southbank  Accommodation and Food Services
180   West Melbourne (Industrial)  Accommodation and Food Services
190  West Melbourne (Residential)  Accommodation and Food Services

     Census year  Total establishments  Total jobs  counts
0          10110                   298      2353.0       5
16         16176                  2830     42998.0       8
36         10110                   264      2354.0       6
53          6066                    52       256.0       3
68          4044                    52       432.0       2
83         14154                  1591     22118.0       7
101         6066                    47      2669.0       3
114         8088                   129       684.0       4
131        10110                    72      1608.0       5
140         4044                    16       179.0       2
157         2022                     7        71.0       1
163        12132                   219      6111.0       6
180         2022                     3         6.0       1
190         6066                    51       267.0       3
                  CLUE small area               ANZSIC indusrty  Census year  \
2                         Carlton  Arts and Recreation Services         6066
20      City of Melbourne (total)  Arts and Recreation Services         8088
38                      Docklands  Arts and Recreation Services         8088
55                 East Melbourne  Arts and Recreation Services         6066
70                     Kensington  Arts and Recreation Services         6066
85                Melbourne (CBD)  Arts and Recreation Services         8088
103         Melbourne (Remainder)  Arts and Recreation Services         8088
116               North Melbourne  Arts and Recreation Services         6066
132                     Parkville  Arts and Recreation Services         6066
142                Port Melbourne  Arts and Recreation Services         4044
158                   South Yarra  Arts and Recreation Services         2022
165                     Southbank  Arts and Recreation Services         8088
181   West Melbourne (Industrial)  Arts and Recreation Services         2022
192  West Melbourne (Residential)  Arts and Recreation Services         4044

     Total establishments  Total jobs  counts
2                      40       327.0       3
20                    611     27259.0       4
38                     59      1850.0       4
55                     38       346.0       3
70                     88       827.0       3
85                    139      3608.0       4
103                    49      4464.0       4
116                    48       375.0       3
132                    41       202.0       3
142                    11        30.0       2
158                     4         0.0       1
165                    56     10177.0       4
181                     7         0.0       1
192                    20        47.0       2
                  CLUE small area                           ANZSIC indusrty  \
8                         Carlton  Information Media and Telecommunications
26      City of Melbourne (total)  Information Media and Telecommunications
44                      Docklands  Information Media and Telecommunications
61                 East Melbourne  Information Media and Telecommunications
75                     Kensington  Information Media and Telecommunications
91                Melbourne (CBD)  Information Media and Telecommunications
122               North Melbourne  Information Media and Telecommunications
148                Port Melbourne  Information Media and Telecommunications
171                     Southbank  Information Media and Telecommunications
184   West Melbourne (Industrial)  Information Media and Telecommunications
198  West Melbourne (Residential)  Information Media and Telecommunications

     Census year  Total establishments  Total jobs  counts
8           4044                    10       273.0       2
26          8088                   204     24666.0       4
44          6066                    29      5963.0       3
61          2022                     4        49.0       1
75          2022                     3         0.0       1
91          8088                    85     14772.0       4
122         4044                    12       215.0       2
148         4044                    20       325.0       2
171         6066                    17      2483.0       3
184         2022                     3         0.0       1
198         2022                     5        42.0       1
                  CLUE small area         ANZSIC indusrty  Census year  \
4                         Carlton  Education and Training         8088
22      City of Melbourne (total)  Education and Training         8088
40                      Docklands  Education and Training         4044
57                 East Melbourne  Education and Training         4044
72                     Kensington  Education and Training         4044
87                Melbourne (CBD)  Education and Training         8088
105         Melbourne (Remainder)  Education and Training         4044
118               North Melbourne  Education and Training         4044
133                     Parkville  Education and Training         6066
144                Port Melbourne  Education and Training         2022
159                   South Yarra  Education and Training         6066
167                     Southbank  Education and Training         4044
194  West Melbourne (Residential)  Education and Training         4044

     Total establishments  Total jobs  counts
4                      84      3531.0       4
22                    597     24695.0       4
40                     22       683.0       2
57                      8      1167.0       2
72                     10       207.0       2
87                    309      8748.0       4
105                     7      1941.0       2
118                    29       760.0       2
133                    63      4789.0       3
144                     6        51.0       1
159                    13       198.0       3
167                    14       580.0       2
194                    16       455.0       2
                  CLUE small area ANZSIC indusrty  Census year  \
14                        Carlton    Retail Trade         6066
33      City of Melbourne (total)    Retail Trade         8088
50                      Docklands    Retail Trade         4044
66                 East Melbourne    Retail Trade         2022
80                     Kensington    Retail Trade         4044
98                Melbourne (CBD)    Retail Trade         8088
112         Melbourne (Remainder)    Retail Trade         2022
128               North Melbourne    Retail Trade         6066
139                     Parkville    Retail Trade         2022
154                Port Melbourne    Retail Trade         4044
162                   South Yarra    Retail Trade         2022
177                     Southbank    Retail Trade         4044
187   West Melbourne (Industrial)    Retail Trade         2022
204  West Melbourne (Residential)    Retail Trade         4044

     Total establishments  Total jobs  counts
14                    101       659.0       3
33                   1793     18866.0       4
50                    145      1336.0       2
66                     11        66.0       1
80                     28       459.0       2
98                   1112     11274.0       4
112                    14        85.0       1
128                    77       578.0       3
139                    14        69.0       1
154                    24       381.0       2
162                     4        16.0       1
177                   216      2287.0       2
187                     5        32.0       1
204                    31       173.0       2
                  CLUE small area                    ANZSIC indusrty  \
34      City of Melbourne (total)  Transport, Postal and Warehousing
51                      Docklands  Transport, Postal and Warehousing
67                 East Melbourne  Transport, Postal and Warehousing
81                     Kensington  Transport, Postal and Warehousing
99                Melbourne (CBD)  Transport, Postal and Warehousing
113         Melbourne (Remainder)  Transport, Postal and Warehousing
129               North Melbourne  Transport, Postal and Warehousing
155                Port Melbourne  Transport, Postal and Warehousing
178                     Southbank  Transport, Postal and Warehousing
188   West Melbourne (Industrial)  Transport, Postal and Warehousing
205  West Melbourne (Residential)  Transport, Postal and Warehousing

     Census year  Total establishments  Total jobs  counts
34          8088                   247     13824.0       4
51          8088                    32      2691.0       4
67          2022                     3        11.0       1
81          4044                    10        14.0       2
99          8088                    74      4418.0       4
113         2022                     5        47.0       1
129         4044                    12       205.0       2
155         6066                    29      2068.0       3
178         4044                     8       230.0       2
188         8088                    50      3503.0       4
205         2022                     7        51.0       1
                  CLUE small area                             ANZSIC indusrty  \
5                         Carlton  Electricity, Gas, Water and Waste Services
23      City of Melbourne (total)  Electricity, Gas, Water and Waste Services
41                      Docklands  Electricity, Gas, Water and Waste Services
58                 East Melbourne  Electricity, Gas, Water and Waste Services
73                     Kensington  Electricity, Gas, Water and Waste Services
88                Melbourne (CBD)  Electricity, Gas, Water and Waste Services
119               North Melbourne  Electricity, Gas, Water and Waste Services
134                     Parkville  Electricity, Gas, Water and Waste Services
145                Port Melbourne  Electricity, Gas, Water and Waste Services
160                   South Yarra  Electricity, Gas, Water and Waste Services
168                     Southbank  Electricity, Gas, Water and Waste Services
183   West Melbourne (Industrial)  Electricity, Gas, Water and Waste Services
195  West Melbourne (Residential)  Electricity, Gas, Water and Waste Services

     Census year  Total establishments  Total jobs  counts
5           2022                    14         0.0       1
23          8088                   205     13294.0       4
41          4044                    13      4486.0       2
58          2022                     7         0.0       1
73          2022                     8         0.0       1
88          8088                    69      7359.0       4
119         2022                    24         0.0       1
134         2022                     7         0.0       1
145         4044                     9        11.0       2
160         2022                     6         0.0       1
168         4044                    25       446.0       2
183         2022                     5         0.0       1
195         2022                     8         0.0       1
                  CLUE small area ANZSIC indusrty  Census year  \
9                         Carlton   Manufacturing         6066
27      City of Melbourne (total)   Manufacturing         8088
45                      Docklands   Manufacturing         4044
76                     Kensington   Manufacturing         4044
92                Melbourne (CBD)   Manufacturing         4044
108         Melbourne (Remainder)   Manufacturing         2022
123               North Melbourne   Manufacturing         4044
149                Port Melbourne   Manufacturing         6066
172                     Southbank   Manufacturing         6066
185   West Melbourne (Industrial)   Manufacturing         2022
199  West Melbourne (Residential)   Manufacturing         2022

     Total establishments  Total jobs  counts
9                      20       115.0       3
27                    414     13113.0       4
45                     15       341.0       2
76                     31       401.0       2
92                    194      1284.0       2
108                     4         8.0       1
123                    32       354.0       2

In [54]:
import pandas as pd

from bokeh.core.properties import value
from bokeh.plotting import ColumnDataSource, figure, show
from bokeh.sampledata.sample_superstore import data as df
from bokeh.transform import cumsum, factor_cmap

rows = pd.crosstab(df.Category, df.Region, aggfunc='sum', values=df.Sales, normalize="index")

source = ColumnDataSource(rows.T)

cats = ["Office Supplies", "Furniture", "Technology"]
regions = source.data["Region"]

p = figure(y_range=cats, x_range=(-0.55, 1.02), height=400, width=700, tools="",
           x_axis_location=None, toolbar_location=None, outline_line_color=None)
p.grid.grid_line_color = None
p.yaxis.fixed_location = 0
p.axis.major_tick_line_color = None
p.axis.major_label_text_color = None
p.axis.axis_line_color = "#4a4a4a"
p.axis.axis_line_width = 6

source.data["color"] = [ "#dadada","#dadada", "#4a4a4a", "#dadada"]
for y in cats:
    left, right = cumsum(y, include_zero=True), cumsum(y)

    p.hbar(y=value(y), left=left, right=right, source=source, height=0.9,
           color=factor_cmap("Region", "MediumContrast4", regions))

    pcts = source.data[y]
    source.data[f"{y} text"] = [f"{r}\n{x*100:0.1f}%" for r, x in zip(regions, pcts)]

    p.text(y=value(y), x=left, text=f"{y} text", source=source, x_offset=10,
           text_color="color", text_baseline="middle", text_font_size="15px")

totals = pd.crosstab(df.Category, df.Region, margins=True, aggfunc='sum',
                     values=df.Sales, normalize="columns").All

p.hbar(right=0, left=-totals, y=totals.index, height=0.9, color="#dadada")

text = [f"{name} ({totals.loc[name]*100:0.1f}%)" for name in cats]
p.text(y=cats, x=0, text=text, text_baseline="middle", text_align="right",
       x_offset=-12, text_color="#4a4a4a", text_font_size="20px",
       text_font_style="bold")

show(p)

RuntimeError: bokeh sample data directory does not exist, please execute bokeh.sampledata.download()

In [ ]:
jobs_data_z = jobs_data
wanted_year = [2022]
wanted_job = ["---"]
jobs_data_idz = jobs_data_z["Census year"].isin(wanted_year)

jobs_data_z = jobs_data_z[jobs_data_idz]
jobs_data_z

summarized_z = jobs_data_z.groupby(['CLUE small area', 'ANZSIC indusrty']).agg({'Total jobs': 'sum'}).reset_index()
summarized_z

,CLUE small area,ANZSIC indusrty,Total jobs
0,Carlton,Accommodation and Food Services,2353.0
1,Carlton,Administrative and Support Services,68.0
2,Carlton,Arts and Recreation Services,327.0
3,Carlton,Construction,52.0
4,Carlton,Education and Training,3531.0
...,...,...,...
202,West Melbourne (Residential),Public Administration and Safety,28.0
203,West Melbourne (Residential),"Rental, Hiring and Real Estate Services",31.0
204,West Melbourne (Residential),Retail Trade,173.0
205,West Melbourne (Residential),"Transport, Postal and Warehousing",51.0
206,West Melbourne (Residential),Wholesale Trade,77.0

In [61]:

summarized_z["ANZSIC indusrty"]
summarized_z = summarized_z[summarized_z["ANZSIC indusrty"] != "All ANZSIC"]
summarized_z.reset_index(drop=True, inplace=True)

In [59]:
import pandas as pd
from bokeh.core.properties import value
from bokeh.plotting import ColumnDataSource, figure, show
from bokeh.transform import cumsum, factor_cmap

# Assuming you have already created the summarized dataframe with unique industries
# and their corresponding total jobs
# summarized_df = ...

summarized_z = summarized_z.drop_duplicates(subset=['ANZSIC indusrty'])

source = ColumnDataSource(summarized_z)

industries = summarized_z["ANZSIC indusrty"]
areas = summarized_z["CLUE small area"]
total_jobs = summarized_z["Total jobs"]

p = figure(y_range=industries, x_range=(0, max(total_jobs) * 1.1), height=400, width=700, tools="",
           x_axis_location=None, toolbar_location=None, outline_line_color=None)
p.grid.grid_line_color = None
p.yaxis.fixed_location = 0
p.axis.major_tick_line_color = None
p.axis.major_label_text_color = None
p.axis.axis_line_color = "#4a4a4a"
p.axis.axis_line_width = 6

# Assigning colors to industries
industry_colors = {"Accommodation and Food Services": "orchid",
    "Administrative and Support Services": "firebrick",
    "Agriculture, Forestry and Fishing": "skyblue",
    "Arts and Recreation Services":"lightcoral",
    "Construction":"gold",
    "Education and Training": "mediumpurple",
    "Electricity, Gas, Water and Waste Services": "olive",
    "Financial and Insurance Services": "darkorange",
    "Health Care and Social Assistance":"cadetblue",
    "Information Media and Telecommunications":"salmon",
    "Manufacturing": "lightseagreen",
    "Other Services": "skyblue",
    "Mining":"darkslateblue",
    "Professional, Scientific and Technical Services": "khaki",
    "Public Administration and Safety": "palegreen",
    "Rental, Hiring and Real Estate Services": "sienna",
    "Retail Trade": "lightskyblue",
    "Wholesale Trade": "thistle",
     "Mining":"darkslateblue",
    "Transport, Postal and Warehousing": "lightsteelblue",
                   }
#colors = ["#3182bd", "#6baed6", "#9ecae1", "#c6dbef", "#e6550d", "#fd8d3c", "#fdae6b", "#fdd0a2"]
source.data['color'] = [industry_colors[industry] for industry in industries]

# Plotting horizontal bars for total jobs
p.hbar(y='ANZSIC indusrty', right='Total jobs', height=0.9, source=source,
       color='color')

# Adding text labels for total jobs
p.text(y='ANZSIC indusrty', x='Total jobs', text='Total jobs', source=source,
       x_offset=5, text_baseline="middle", text_font_size="15px", text_color="black")

show(p)