In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import folium

In [26]:

jobs_csv_path = os.path.join(
    "..", "data", "business-establishments-and-jobs-data-by-business-size-and-industry.csv")

jobs_data = pd.read_csv(jobs_csv_path)
jobs_data.head()

,Census year,CLUE small area,ANZSIC indusrty,CLUE industry,Business size,Total establishments,Total jobs
0,2007,West Melbourne (Residential),"Transport, Postal and Warehousing","Transport, Postal and Storage",Small business,20,132.0
1,2006,Carlton,Accommodation and Food Services,Accommodation,Small business,17,102.0
2,2006,Carlton,Administrative and Support Services,Admin and Support Services,Non employing,1,NaN
3,2006,Carlton,Arts and Recreation Services,Arts and Recreation Services,Medium business,4,207.0
4,2006,Carlton,Construction,Construction,Medium business,5,196.0

In [27]:
jobs_data.columns

Index(['Census year', 'CLUE small area', 'ANZSIC indusrty', 'CLUE industry',
       'Business size', 'Total establishments', 'Total jobs'],
      dtype='object')

In [30]:
jobs_data = jobs_data.groupby(["Census year",'ANZSIC indusrty','CLUE small area', "Total establishments", "Total jobs"]).size().reset_index(name= "counts")
jobs_data

,Census year,ANZSIC indusrty,CLUE small area,Total establishments,Total jobs,counts
0,2002,Accommodation and Food Services,Carlton,3,0.0,1
1,2002,Accommodation and Food Services,Carlton,4,139.0,1
2,2002,Accommodation and Food Services,Carlton,7,0.0,1
3,2002,Accommodation and Food Services,Carlton,11,327.0,1
4,2002,Accommodation and Food Services,Carlton,16,106.0,1
...,...,...,...,...,...,...
10356,2022,Wholesale Trade,Southbank,3,222.0,1
10357,2022,Wholesale Trade,Southbank,9,69.0,1
10358,2022,Wholesale Trade,West Melbourne (Industrial),6,299.0,1
10359,2022,Wholesale Trade,West Melbourne (Industrial),24,151.0,1
10360,2022,Wholesale Trade,West Melbourne (Residential),13,77.0,1

In [35]:
jobs_data_x = jobs_data
wanted_year = [2022]
wanted_job = ["---"]
jobs_data_idx = jobs_data_x["Census year"].isin(wanted_year)

jobs_data_x = jobs_data_x[jobs_data_idx]

jobs_data_x = jobs_data_x.groupby(["Census year",'ANZSIC indusrty','CLUE small area', "Total establishments", "Total jobs"]).size().reset_index(name= "counts")
jobs_data_x

,Census year,ANZSIC indusrty,CLUE small area,Total establishments,Total jobs,counts
0,2022,Accommodation and Food Services,Carlton,6,255.0,1
1,2022,Accommodation and Food Services,Carlton,23,682.0,1
2,2022,Accommodation and Food Services,Carlton,36,189.0,1
3,2022,Accommodation and Food Services,Carlton,39,0.0,1
4,2022,Accommodation and Food Services,Carlton,194,1227.0,1
...,...,...,...,...,...,...
490,2022,Wholesale Trade,Southbank,3,222.0,1
491,2022,Wholesale Trade,Southbank,9,69.0,1
492,2022,Wholesale Trade,West Melbourne (Industrial),6,299.0,1
493,2022,Wholesale Trade,West Melbourne (Industrial),24,151.0,1
494,2022,Wholesale Trade,West Melbourne (Residential),13,77.0,1